<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <nav id="topSidebar" class="navbar navbar-default navbar-fixed-top">
      <div id="navImg" class="navbar_header">
      </div>
      <div id="navLabel" class="collapsed navbar_collapse">
        <ul id="menu">
          <li><!--<a href="/fileDeal/operatorInferface">操作中心</a>-->待开发</li>
          <li>待开发</li>
          <li>待开发</li>
          <li>待开发</li>
        </ul>
        <div id="navUserLogin">
          <ul>
            <li>
              <a href="/log/sign">登录</a>
            </li>
            <li>
              <a href="/log/register">注册</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="container">
      <div id="mainContainer">
        <h1>点击操作中心即可进行详细文件操作</h1><br/>
      </div>
      <div id="rightSidebar">

      </div>
    </div>
  </body>
</html>
